html.onlime {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: #d6d6d6;
	background-image: url(../images/bg-onlime.jpg);
}
img {
	border: 0;
}

#onlimebox {
	margin: 0 auto;
	background-image: url(../images/onlime-bg-trans.png);
	width: 380px;
	height: 332px;
}

#onlime {
	padding-top: 30px;
	padding-left: 25px;
	width: 320px;
	height: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	position: relative;
	text-align: left;
}

#onlime object{
	position: absolute;
	float: left;
	z-index:0;
}
a, a:link, a:active, a:focus, a:visited {
	color: #7A6E46;
	text-decoration: none;
}
a:hover {
	color: #863f5a;
	text-decoration: underline;
	
}
#superlayer{
	position: absolute;
	z-index: 200000 !important;
	top:270px;
	background:#F6F1F3;
	display: block;
	width: 320px;
	height:30px;
	margin: 0px;
	line-height:14px;
}
#link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: right;
	margin: 40px 30px 0 0px;
}

